/* Global CSS */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* Element Selector*/
body {
    background-color: #e4e7f9;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

/* CSS for the whole body */
main {
    display: flex;
    flex-wrap: wrap;
    margin-top: 2%;
}

.header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px;
    background-color: #2b2a30;
    color: #ffffff;
}

.avatar {
    display: inline-block;
    height: 80px;
    width: 80px;
    margin-bottom: 25px;
    background-image: url("abcd.png");
    background-size: cover;
    border-radius: 70px 70px 70px 70px;
}

.header h1 {
    display: inline-block;
    font-size: 48px;
    margin-bottom: 15px;
}

.header div {
    padding-top: 15px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

.header div ul {
    list-style-type: none;
    display: flex;
}

.header div ul li {
    margin-left: 25px;
    margin-bottom: 10px;
}

a {
    color: #ffffff;
    text-decoration: underline;
    /* margin-right: 30px; */
}

/* Up to here for the header navigation bar */

p {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    font-size: 16px;
}

.GMG {
    display: flex;
    flex-wrap: wrap;
    height: 300px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("gmg_cover.png");
    background-size: cover;
    background-position: center;
}

/* Styling for grid items */

.flex-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end; 
}

.grid-item {
    display: inline-block;
    box-sizing: border-box;
    width: 500px;
    margin: 25px;
    text-align: center;
    border-style: solid;
    border-width: 5px;
    border-color: #2b2a30;
    background: none;
    cursor: pointer;
    overflow: hidden;
    position: relative;
    opacity: 0.5;
}
.grid-item img {
    width: 100%;
    height: auto;
    transition: transform 0.3s ease-in-out;
}

.grid-item section {
    padding: 20px;
    background: rgba(43, 42, 48, 0.8);
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

/* Adjustments for hover effect */
.grid-item:hover {
    border-color: #2b2a30;
    transform: scale(1.15);
    opacity: 1;
}

.grid-item:active {
    border-color: #2b2a30;
    transform: scale(1.25);
    opacity: 1;
}

.grid-item:hover section {
    opacity: 1;
}

.grid-item:active section {
    opacity: 1;
}

.float-left {
    float: left;
    margin-right: 250px;
}

.float-right {
    float: right;
    margin-left: 250px;
}

.content {
    width: 100%;
    margin-left: 0;
}

#about_me,
#my_works,
#contact_me {
    font-size: 36px;
    margin-bottom: 15px;
}

#about_contents,
#works_contents,
#contact_contents {
    padding: 20px;
    clear: both;
    width: 100%;
    float: right; 
    margin-right: 0px; 
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
}

#contact_me div ul li {
    display: inline-block;
    color: #2b2a30;
    font-size: 20px;
    margin-bottom: 10px;
}

#contact_me a {
    color: #2b2a30;
    font-weight: bold;
    font-size: 30px;
    text-decoration: underline;
    margin-right: 50px;
}

@media screen and (max-width: 768px) {
    .header {
        flex-direction: column;
        align-items: flex-end;
    }

    .header div {
        margin-top: 15px;
        float: none;
    }

    .header div ul {
        flex-direction: column;
    }

    .header div ul li {
        margin-left: 0;
        margin-bottom: 15px;
    }

    .grid-item {
        width: 60%;
        align-items: center;
    }
}

@media screen and (max-width: 800px) {
    .grid-item {
        width: 70%;
        align-items: center;
    }
    
}
